* {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
    --plyr-color-main: #000;
    --plyr-video-background: transparent;
    --plyr-captions-background: #000;
    --plyr-captions-text-color: #fff;
    --plyr-font-weight-regular: 600;
    --plyr-font-weight-bold: 600;

    --plyr-font-family: 'rubik';

    --webkit-text-track-display: none;
    --plyr-font-size-xlarge: 30px;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

body {
    background-color: transparent;
    font-family: 'rubik', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #fff;
}

video {
    width: 100%;
    height: 100%;
}

.plyr__poster {
    background-size: cover;
}

.plyr__control--overlaid {
    background: #000;
    box-shadow: #4a4a4a20 0 0 27px;
}

.plyr--video {
    height: 100%;
}

.plyr--video .plyr__control.plyr__tab-focus,
.plyr--video .plyr__control:hover,
.plyr--video .plyr__control[aria-expanded=true] {
    background: #000;
}

.plyr__control.plyr__tab-focus {
    box-shadow: 0 0 0 5px rgba(255, 0, 0, .5);
}

.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::before {
    background: #000;
}

[data-plyr="captions"].plyr__control {
    border-bottom: solid 3px transparent;
}

[data-plyr="captions"].plyr__control--pressed {
    border-bottom: solid 3px #000;
}

.plyr__captions {
    font-size: 20px;
}

@media (max-width: 479px) {
    .plyr__captions {
        font-size: 18px;
    }
}

@media (min-width: 480px) {
    .plyr__captions {
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    .plyr__captions {
        font-size: 23px;
    }
}

@media (min-width: 1024px) {
    .plyr__captions {
        font-size: 26px;
    }
}

.plyr__progress input {
    border-radius: 0px !important;
    background: transparent;
}

.plyr__progress input[value]::-webkit-progress-bar {
    border-radius: 0px !important;
}

.plyr__progress input[value]::-webkit-progress-value {
    border-radius: 0px !important;
}

.plyr audio,
.plyr iframe,
.plyr video {
    max-height: 100vh;
}

.plyr__spacer {
    width: 100%;
}

.plyr__progress__container {
    position: absolute;
    top: 14px;
    left: 10px;
    width: calc(100% - 24px);
}

@media (max-width: 480px) {
    .plyr__progress__container {
        top: -5px;
    }
}

.wt-chart-active .ct-series-a .ct-area,
.ct-series-a .ct-slice-donut-solid,
.ct-series-a .ct-slice-pie {
    fill: url(#gradient-active);
}

.ct-series-a .ct-area,

.ct-series-a .ct-slice-donut-solid,
.ct-series-a .ct-slice-pie {
    fill: url(#gradient-a);
}

.ct-series-a .ct-bar,
.ct-series-a .ct-line,
.ct-series-a .ct-point,
.ct-series-a .ct-slice-donut {
    stroke: #000;
}

.plyr__pb {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 3;
    margin-left: calc(var(--plyr-range-thumb-height, 13px)*-.5);
    margin-right: -6.5px;
    margin-right: calc(var(--plyr-range-thumb-height, 13px)*-.5);
    width: calc(100% + 13px);
    width: calc(100% + var(--plyr-range-thumb-height, 13px));
}

.plyr__preview-thumb {
    bottom: 22px;
    transition: bottom ease 0.1s;
}

.plyr__controls {
    padding-top: 70px;
}

.plyr--full-ui.plyr--video .plyr__progress input[type=range]::-webkit-slider-runnable-track {
    background-color: transparent !important;
}

.plyr--full-ui.plyr--video .plyr__progress input[type=range]::-moz-range-track {
    background-color: transparent !important;
}

.plyr--full-ui.plyr--video .plyr__progress input[type=range]::-ms-track {
    background-color: transparent !important;
}

.plyr__progress input {
    background-color: transparent !important;
    color: transparent !important;
    top: -6px !important;
    z-index: 7 !important;
    cursor: pointer;
}

.plyr--full-ui.plyr--video .plyr__progress input[type=range]::-webkit-slider-thumb {
    opacity: 0;
    transition: opacity ease 0.1s;
}

.plyr--full-ui.plyr--video .plyr__progress input[type=range]::-moz-range-thumb {
    opacity: 0;
    transition: opacity ease 0.1s;
}

.plyr--full-ui.plyr--video .plyr__progress input[type=range]::-ms-thumb {
    opacity: 0;
    transition: opacity ease 0.1s;
}

.plyr--full-ui.plyr--video .plyr__progress input[type=range]:active::-webkit-slider-thumb {
    opacity: 1;
}

.plyr--full-ui.plyr--video .plyr__progress input[type=range]:active::-moz-range-thumb {
    opacity: 1;
}

.plyr--full-ui.plyr--video .plyr__progress input[type=range]:active::-ms-thumb {
    opacity: 1;
}

.plyr__menu__container {
    z-index: 10;
}

@media (min-width: 1280px) {
    .plyr--full-ui.plyr--video .plyr__control--overlaid {
        width: 60px;
        height: 60px;
    }

    .plyr__control svg {
        height: 21px;
        width: 21px;
    }
}

.plyr__control--overlaid svg {
    margin-left: auto;
    margin-right: auto;
}

.plyr__control--logo {
    height: auto;
    max-height: 23.5px;
    position: absolute;
    left: 44%;
    top: 37px;
    margin-left: -50px;
}

.plyr__tooltip--drag {
    opacity: 1;
    transform: translate(-50%) scale(1);
}

.plyr__controls__item[data-plyr="rewind"],
.plyr__controls__item[data-plyr="fast-forward"] {
    padding: 4px;
}

.plyr__controls__item[data-plyr="rewind"] svg,
.plyr__controls__item[data-plyr="fast-forward"] svg {
    height: 24px;
    height: var(--plyr-control-icon-size, 24px);
    pointer-events: none;
    width: 24px;
    width: var(--plyr-control-icon-size, 24px);
}

.plyr--full-ui ::-webkit-media-text-track-container {
    display: var(--webkit-text-track-display);
}

.disable-poster-transition .plyr__poster {
    transition: none;
}

.plyr__video-wrapper {
    z-index: 0;
}

.plyr__menu__container>div {
    max-height: 50vh;
    overflow-y: auto;
}

@media only screen and (max-width: 500px) {
    .hide_mobile.plyr__spacer {
        display: none
    }
}

.plyr--is-ios .plyr__volume {
    min-width: 32px;
}

.chromecast-connected {
    opacity: 1;
}

.chromecast-disconnected {
    opacity: 0.5;
}

.error-message {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #ccc;
    padding-top: 50px;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 0.3s linear infinite;

}

.loader-position {
    position: absolute;
    top: 45%;
    left: 48%;
    z-index: 20;
    transform: translate(-50%, -50%);
}

.bg-color::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    top: 0;
    left: 0;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}